@model KillerAppAbdoAryanzad.Models.ViewModels.ProductModelView

@{
    ViewBag.Title = "BijproductProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h1 class="pull-right">€@Model.bijproduct.Prijs</h1>
                    <h1>
                        @Model.bijproduct.Naam
                    </h1>
                    <div id="Speci">
                        <h3>@Model.bijproduct.ProductInformatie</h3>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success">Toevoegen aan Bestelling</a>
                </div>

                @foreach (var i in Model.toonBijreacties)
                {
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                @foreach (var it in Model.gebruikers)
                            {
                                if (i.AccountTypeID == it.ID)
                                {
                                    @(it.Naam + ":");

                                }
                            }
                        </h4>
                        <p>@i.Tekst</p>
                    </div>
                </div>
                    <hr>

                }

            </div>
            @using (Html.BeginForm("BijproductProduct", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <h3><label id="labelbeschrijving" for="exampleTextarea">Reactie:</label></h3>
                    <textarea class="form-control" id="exampleTextarea" name="Tekst" style="max-width: 100%;" rows="5"></textarea>
                </div>
                <div class="text-right">
                    <input class="btn btn-success" type="submit" value="Reactie Plaatsen">
                </div>
            }
        </div>
    </div>
</div>

