@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="text-align:center">
    <h1>CoffeeShop Online</h1>
    <p class="lead">Voor de beste Wiet en Hasj. </p>
    <form>
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Product">
                <button class="btn btn-info" type="submit">
                    <i class="icon-search"></i>&nbsp;Zoeken
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-4 Height Colllor">
        <h2>Kortingen</h2>
        <h3>
            Deze week hebben wij weer een geweldige korting voor onze bezoekers. Krijg nu tot 50% korting op alle producten. Dit alles alleen bij CoffeeShop Online.
        </h3>
    </div>
    <div class="col-md-4 Height Collor">
        <h2>Actie!!!</h2>
        <h5>Ook hebben wij deze week weer een lekker rookproduct in de aanbieding. De Amnesia Haze is deze week 2 voor de prijs van 1.</h5>
        <img src="~/Content/Images/Amnesia Haze.jpg" alt="Alternate Text" />
    </div>
    <div class="col-md-4 Height Colllor">
        <h2>Coupon</h2>
        <h3>Heb je voor sinterklaas een coupon gekregen voor onze website. Lever deze dan zo snel mogelijk in.</h3>
      
    </div>
</div>